@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap');


/* GLOBAL */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arima Madurai', cursive;
    font-size: 16px;
}
body {
    background-color: rgb(43, 5, 5);
}
h2 {
    font-size: 3.5rem;
    font-weight: bold;
}
h3 {
    font-size: 2rem;
    white-space: nowrap;
}
img {
    width: 100%;
}
li {
    list-style: none;
}
i {
    color: rgb(43, 5, 5);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* BANNER */
.hero {
    position: relative;
    height: 95vh;
    width: auto;
}

header .image-container{
    background-image: url("../pictures/hero-cupcake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    min-width: auto;
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    background-color: rgba(245, 245, 245, 0.60);
    color:rgb(71, 7, 7);
    position: absolute;
    top: 60%;
}
h1 {
    font-size: 7rem;
    white-space: nowrap;

}
header h2 {
    margin-bottom: 20px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* NAVIGATION */
ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
nav li a{
    display: inline;
    padding: 0 20px;
    color: rgb(175, 41, 41);
    font-size: 2rem;
    white-space: nowrap;
    text-decoration: none;
}
nav li:hover{
    text-decoration: underline;
}
section {
    width: 90%;
    border-bottom: 2px solid rgb(175, 41, 41);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* MAIN CONTENT */
main {
    color: rgb(43, 5, 5);
    display: flex;
    justify-content: center;

}
.main-white-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
    background-color: rgba(245, 245, 245, 0.65);
    border-radius: 30px;
}
.main-white-box li {
    font-size: 1.25rem;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* SPECIALS */
.specials {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-bottom: 5%;
    margin: 5% auto;
}
.card-container {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.all-special-cards {
    max-width: 600px;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(175, 41, 41);
    border-radius: 30px;
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.20);
}
.all-special-cards h4 {
    font-size: 1.25rem;
    border-bottom: 1px solid rgb(175, 41, 41);
}
.special-text{
    align-self: center;
    margin: auto 5%;
}
.special-text h4,
.special-text p {
    text-align: center;
}
.all-special-cards .image-container {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* MENU */
.menu {/*align left and right side*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%; /*of the white box*/
    padding-bottom: 5%;
    margin: 5% auto;
}
.menu-grid { /*for menu*/
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: rgba(245, 245, 245, 0.20);
    border: 2px solid rgb(175, 41, 41);
    border-radius: 30px;
}
.right-side {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: start;
    gap: 1.5rem;
}
.right-side li {
    font-weight: bold;
}
.right-side h4 { /*flavor base*/
    border-bottom: 1px solid rgb(175, 41, 41);
}
.right-side p { /*menu items*/
    margin: 1rem auto;
}
/* CLASSES */
.classes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 3rem;
    width: 90%;
    padding-bottom: 5%;
    margin: 5% auto;
}
.class-header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.class-examples {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.class-examples .image-container {
    object-fit: cover;
}
.class-examples h4 {
    text-align: center;
}
.class-summary {
    width: 50%;
}

/* ABOUT */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    width: 90%;
    padding-bottom: 5%;
    margin: 5% auto;
}
.about-header {
    align-self: start;
    width: 50%;
}
/* CONTACT */
.contact {
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 3rem;
    width: 90%;
    padding-bottom: 5%;
    margin: 5% auto; 
}
.contact-header {
    display: flex;
    flex-direction: column;
    
}
.contact-number {
    display: flex;
}
.contact-number p {
    align-self: center;
}
.contact i {
    font-size: 2rem;
    padding: 5%;
}
/* ***************BREAKPOINTS****************************
/* laptop */
@media only screen and (max-width: 1500px){
    h1 {
        font-size: 5rem;
    }
    h3{
        font-size: 1.5rem;
    }
    li{
        font-size: 1.5rem;
    }
}
/* tablet landscape */
@media only screen and (max-width: 1024px){
    h1 {
        font-size: 4rem;
    }
    h3{
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
    }

}
/* tablet */
@media only screen and (max-width: 768px){
    h1{
        font-size: 3rem;
    }
    h3{
        font-size: .75rem;
    }
    li{
        font-size: .75rem;
    }
}
/* phone */
@media only screen and (max-width: 560px){
    h1{
        font-size: 2rem;
    }
    h3{
        font-size: .75rem;
    }
    .hero{
        height: 80vh;
        width: auto;
    }
    .text-wrapper {
        height: 15vh;
        width: 100%;
        justify-content: space-evenly;
    }
    nav {
        display: none;
    }
}
/* super narrow phones like galaxy fold */
@media only screen and (max-width: 375px){
    h1{
        font-size: 1.45rem;
    }
    h3{
        font-size: .60rem;
    }
}

