@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap');

@keyframes gentle-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  @keyframes grow {
    from {
        width: 1%;
        height: auto;
    }
    to {
        width: 5%;
        height: auto;
    }
  }

  :root{
    --opaque65: rgba(245, 245, 245, 0.65);
    --opaque20: rgba(245, 245, 245, 0.20);
    --light-red: rgb(175, 41, 41);
    --dark-red: rgb(43, 5, 5);
    --border-2px: 2px solid var(--light-red);
    --border-1px: 1px solid var(--light-red);
  }
/* GLOBAL */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arima Madurai', cursive;
    font-size: 16px;
}
body {
    background-color: var(--dark-red)
}
section {
    width: 90%;
    border-bottom: var(--border-2px)
}
h2 {
    font-size: 3.5rem;
    font-weight: bold;
}
h3 {
    font-size: 2vw;
    white-space: nowrap;
}
img {
    width: 100%;
}
li {
    list-style: none;
}
i {
    color: var(--dark-red);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* BANNER */
.hero {
    position: relative;
    height: 95vh;
    width: auto;
}

header .image-container{
    background-image: url("../pictures/hero-cupcake.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    min-width: auto;
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--opaque65);
    color:rgb(71, 7, 7); /*Looks the same as var(--dark-red) against the opaque banner*/
    position: absolute;
    top: 60%;
}
h1 {
    font-size: 8vw;/*7rem;*/
    white-space: nowrap;

}
header h3{
    margin-bottom: 1%;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* NAVIGATION */
ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
nav li a{
    display: inline;
    padding: 0 1.25rem;
    color: var(--light-red);
    font-size: 2rem;
    white-space: nowrap;
    text-decoration: none;
}
nav li:hover{
    text-decoration: underline;
}
.back-to-top{
    display: none;
    position: fixed;
    left: 2.5%;
    bottom: 12%;
    z-index: 100;
    width: 5%;
    height: auto;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    animation: grow 1s ease-in-out;
    
}
.back-to-top img{
    animation: gentle-shake 4s ease-in-out infinite;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* MAIN CONTENT */
main {
    color: var(--dark-red);
    display: flex;
    justify-content: center;

}
.main-white-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
    background-color: var(--opaque65);
    border-radius: 30px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* SPECIALS */
.specials {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-bottom: 10%;
    padding-top: 3%;
}
.specials li {
    font-size: 1.5rem;
    font-weight: bold;
}
.card-container {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.all-special-cards {
    max-width: 600px;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    border: var(--border-2px);
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--opaque20);
}
.all-special-cards h4 {
    font-size: 1.25rem;
    border-bottom: var(--border-1px);
}
.special-text{
    align-self: center;
    margin: auto 5%;
}
.special-text h4,
.special-text p {
    text-align: center;
}
.all-special-cards .special-text{
    width: 120%;
}
.all-special-cards .image-container {
    display: flex;
    width: 100%;
    height: 100%;
}
.specials img{
    object-fit: cover;
}
.special-1-image img,
.special-2-image img{
    object-position: 100% 80%;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* MENU */
.menu {/*align left and right side*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%; /*of the white box*/
    padding-top: 5%;
    padding-bottom: 10%;
}
.menu-text p{
    font-size: 1.25rem;
    line-height: 200%;
}
.menu-text span{
    font-weight: bold;
    text-decoration: underline;
}
.right-side {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: start;
    gap: 1.5rem;
}
.right-side li {
    font-size: 1.25rem;
    font-weight: bold;
}
.right-side h4 { /*flavor base*/
    border-bottom: var(--border-1px);
}
.right-side p { /*menu items*/
    margin: 1rem auto;
}
.menu-grid { /*for menu*/
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--opaque20);
    border: var(--border-2px);
    border-radius: 30px;
}
/* CLASSES */
.classes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 3rem;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 10%;
}
.class-header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.class-examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}
.class-examples .image-container {
    border: var(--border-2px);
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
    margin: 2%;
    background-color: var(--opaque20);
}
.class-examples img {
    max-height: 400px;
    max-width: auto;
}
.class-examples h4 {
    text-align: center;
}
.class-summary {
    width: 60%;
}
.class-summary p{
    font-size: 1.25rem;
    line-height: 200%;
    
}

/* ABOUT */
.about { /*Whole section*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 3rem;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.about .image-container{/*left side*/
    width: 30%;
}
.about img {
    border: var(--border-2px);
    border-radius: 30px;
}
.about-header {/*right side*/
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 45%;
}
.about p{
    font-size: 1.25rem;
    line-height: 200%;
    
}
/* CONTACT */
.contact {
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 3rem;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 10%;
}
.contact-header {
    display: flex;
    flex-direction: column; 
}
.contact-social {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}
.contact-social i {
    font-size: 1.5rem;
}
.phone{
    display: flex;
    white-space: nowrap;
    justify-content: flex-end;
}
.map{
    border: var(--border-2px);
    border-radius: 30px;
    overflow: hidden;
    height: 400px;
    width: 100%;
}
.contact-form{
    align-self: end;
    font-weight: bold;
}
label{
    padding-left: 10px;
}
input{
    margin-bottom: 5px;
}
textarea{
    width: 100%;
    height: 100%;
}
input,
textarea{
    border: var(--border-2px);
    border-radius: 10px;
    padding: 0 2%;
    background-color: var(--opaque65);
    resize: none;
}
input:focus,
textarea:focus{
    box-shadow: none;
    outline: none
}

/* FOOTER */
.created-by{
    padding: 1.5%;
    font-size: .5rem;
}
.created-by i{
    color: var(--light-red);
}

/* FOOTER - just for aesthetics */
footer{
    height: 3rem;
}
/* ***************BREAKPOINTS****************************
/* laptop */
@media only screen and (max-width: 1510px){
    *{
        font-size: 15px;
    }
    .all-special-cards{
        max-width: 500px;
        max-height: 175px;
    }
}
/*breakpoint*/
@media only screen and (max-width: 1350px){
   .public,
   .private,
   .corporate,
   .one-on-one {
    flex: 20%; /*DO MORE WORK ON THIS!!!*/
   } 
}
/*breakpoint*/
@media only screen and (max-width: 1260px){
    *{
        font-size: 14px;
    }
    .all-special-cards{
        max-width: 400px;
        max-height: 150px;
    }
    .menu-text{
        padding-right: 5%;
    }
    .right-side p{
        font-size: 1.10rem;
    }
}
/* tablet landscape */
@media only screen and (max-width: 1024px){
    header .image-container{
        background-attachment: scroll;   /*turn off parallaz for mobile */
    }
}
/* tablet */
@media only screen and (max-width: 768px){

}
/* phone */
@media only screen and (max-width: 560px){

}
/* super narrow phones like galaxy fold */
@media only screen and (max-width: 375px){

}

