@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//Desert Sands and Sky + Green -- Color Palette
$sand: #fff4da;
$toupe: #f9cf7f;
$redish: #aa3c3c;
$mint-green: #6fcb9f;
$tur-dark: #398a93;
$dark-blue: #012b52;

//Ubuntu Font
$main-font: 'Ubuntu', sans-serif;