// /* laptop */
// @media only screen and (max-width: 1500px){

// }
// /* tablet landscape */
// @media only screen and (max-width: 1024px){

// }
/* tablet */
@media only screen and (max-width: 768px){
    .navbar{
        height: 3.5rem;
        .logo{
            height: 2.75rem;
            width: 2.75rem;
        }
    }
}
/* phone */
// @media only screen and (max-width: 560px){

// }
// /* super narrow phones like galaxy fold */
// @media only screen and (max-width: 375px){

// }