@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
}

button {
  font-weight: bold;
  border-radius: 5px;
  width: 6rem;
  height: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.navbar,
footer {
  width: 100vw;
}

a {
  color: #012b52;
}

button {
  background: #fff4da;
  color: #012b52;
}

.navbar {
  background-color: #fff4da;
  border-bottom: 2px solid #012b52;
}

header {
  background-color: #012b52;
  color: #fff4da;
}

#about {
  background-color: #398a93;
  color: #fff4da;
}

#skills {
  background-color: #aa3c3c;
  color: #fff4da;
}

#projects {
  background-color: #6fcb9f;
  color: #012b52;
}

#blog {
  background-color: #f9cf7f;
  color: #012b52;
}

#contact {
  background-color: #012b52;
  color: #fff4da;
}

footer {
  background-color: #fff4da;
  color: #012b52;
  border-top: 2px solid #012b52;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 20px;
}

.navbar .logo {
  width: 50px;
  height: 50px;
}

.navbar li {
  display: inline;
  list-style: none;
  padding: 0 10px;
  letter-spacing: 3px;
}

.home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home .text h1 {
  margin-top: 0px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home .text .promise-left {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 30px;
}

#about .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 700px;
}

#about .outer .img-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 2000px;
}

#about .outer .img-and-text .flex-items {
  margin: auto 30px;
}

#about .outer .img-and-text .image {
  width: 20rem;
  height: 20rem;
  border: 1px solid hidden;
  border-radius: 180px;
  overflow: hidden;
}

#about .outer .img-and-text .text {
  width: 30rem;
}

#skills .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .flex-container .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

#skills .flex-container .grid-container .box-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skills .flex-container .grid-container .box-icon i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 100px;
}

#skills .flex-container .grid-container .box-icon p {
  margin: 20px 0;
  text-align: center;
}

#projects .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 700px;
}

#projects .flex-container .grid-container {
  display: -ms-grid;
  display: grid;
  gap: 10rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#projects .flex-container .grid-container .grid-item {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  max-width: 300px;
}

#projects .flex-container .grid-container .grid-item h3 {
  margin-bottom: 10px;
  text-align: center;
}

#projects .flex-container .grid-container .hidden-hover {
  display: none;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 1;
}

#projects .flex-container .grid-container .grid-item:hover .hidden-hover {
  display: block;
}

#blog .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

#contact .flex-container i {
  margin: 10px;
  font-size: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
/*# sourceMappingURL=index.css.map */