@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: #251e38;
  font-family: "Ubuntu", sans-serif;
}

.background-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  background-image: url("../src/media/background-with-animals.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 97% 102%;
  background-size: cover;
  height: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #372e4f8e;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: 50%;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #bce874;
  font-weight: 500;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  min-height: 100vh;
}

#home .my-name {
  font-size: 10rem;
  font-family: "Abril Fatface", cursive;
  color: #1a132b;
  letter-spacing: 4px;
  word-spacing: normal;
  word-break: normal;
  text-align: center;
  margin-top: 15%;
}

#home .title {
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  color: #1a132b;
  letter-spacing: 2px;
  word-spacing: normal;
  word-break: normal;
  text-align: center;
}

#home .hobby {
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
  color: #1a132b;
  letter-spacing: 1px;
  word-spacing: normal;
  word-break: normal;
  text-align: center;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: 80%;
  min-height: 80vh;
  background-color: #2f3a52c9;
  border-radius: 15px;
  margin-bottom: 5%;
}

#about .title {
  padding: 1%;
  color: #c5a452;
  font-size: 2rem;
}

#about img {
  border-radius: 50%;
  width: 10rem;
}

#about p {
  padding: 1%;
  color: #c5a452;
  text-align: center;
  width: 90%;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: 80%;
  min-height: 80vh;
  background-color: #a1485dc9;
  border-radius: 15px;
  margin-bottom: 5%;
}

#projects .title {
  padding: 1%;
  color: #88e992;
  font-size: 2rem;
}

#projects .every-project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  border: 3px solid #88e992;
  border-radius: 15px;
  margin: 2% auto;
}

#projects .every-project-container h3 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  text-align: center;
  padding: 1% 0;
  color: #88e992;
  font-size: 1.5rem;
}

#projects .every-project-container .left-side-project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  padding: 1%;
}

#projects .every-project-container .left-side-project-card img {
  width: 15rem;
  border-radius: 15px;
  border: 2px solid #88e992;
}

#projects .every-project-container .left-side-project-card .projects-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1%;
  width: 50%;
}

#projects .every-project-container .left-side-project-card .projects-button-container button {
  white-space: nowrap;
  width: 100%;
  padding: 3px;
  background-color: #88e992;
  color: #a1485d;
}

#projects .every-project-container .right-side-project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  height: 100%;
  color: #88e992;
  padding: 2%;
}

#projects .every-project-container .right-side-project-card p {
  margin: 5% auto;
}

#projects .every-project-container .right-side-project-card i {
  font-size: 2rem;
  margin: 1%;
}
/*# sourceMappingURL=style.css.map */