* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid black;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo {
  width: 50px;
  height: 50px;
}

li {
  display: inline;
  list-style: none;
  padding: 0 10px;
  letter-spacing: 3px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid black;
}

.home .flex-container {
  max-width: 700px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home .flex-container h1 {
  font-size: 3rem;
  margin-top: 0px;
}

.home .flex-container .promise-left {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 30px;
}

#about .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 700px;
  border-bottom: 2px solid black;
}

#about .flex-container .grid-container {
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1fr (2fr)[4] 1fr;
      grid-template-rows: 1fr repeat(4, 2fr) 1fr;
  grid-gap: 10px 30px;
  width: 90%;
  height: 100%;
  padding: 30px;
}

#about .flex-container .grid-container .image-container {
  border: 2px solid black;
  border-radius: 50%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/ 1/ span 2/ span 2;
  overflow: hidden;
  padding-top: 10px;
}

#about .flex-container .grid-container .about-summary {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 2/ 3/ span 4/ span 4;
}

#about .flex-container .grid-container .about-summary p {
  font-size: 1.2rem;
  line-height: 1.5;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=index.css.map */