
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
//////HEADER//////
////NavBar////
.navbar{
    display: flex;
    justify-content: center;//centering inner container
    border-bottom: 2px solid black;
}
.flex-container{
    display: flex;
    justify-content: space-between; //spacing nav items and logo
    align-items: center; //aligning nav items and logo
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo{
    width: 50px;
    height: 50px;
    
}
li{
    display: inline;
    list-style: none;
    padding: 0 10px;
    letter-spacing: 3px;
}
///Home///
.home{
    display: flex;
    height: 700px;
    justify-content: center;
    border-bottom: 2px solid black;
    .flex-container{
        max-width: 700px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1{
            font-size: 3rem;
            margin-top: 0px;
        }
        .promise-left{
            align-self: end;
            margin-top: 30px;
        }

    }
}

//////MAIN//////
///about me///
#about {
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 700px;
        border-bottom: 2px solid black;
        .grid-container{
            max-width: 1000px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr repeat(4, 2fr) 1fr;
            grid-gap: 10px 30px;
            width: 90%;
            height: 100%;
            padding: 30px;
            .image-container{
                border: 2px solid black;
                border-radius: 50%;
                grid-area: 2/ 1/ span 2/ span 2;

                overflow: hidden;
                padding-top: 10px;
            }
            .about-summary{
                grid-area: 2/ 3/ span 4/ span 4;
                p {
                    font-size: 1.2rem;
                    line-height: 1.5;
                }
            }
        }
    }

}
//////Skills//////
#skills{
    display: grid;
}